<h1>music shareとは？</h1>

<h3>
    音楽に関するいろんなことをシェアする場です<br><br>
    質問したり、答えたり、情報を発信したり、使い方は自由です<br><br>
    音楽に関することならジャンル・内容は問いません<br><br>
</h3>

<h4>例えば、</h4>

<p>
   ・みんなのおすすめのアーティストを教えてください。<br><br>
   ・私の好きなアルバムTOP10を発表します。NO.10 ＊＊＊ No.9 ＊＊＊ ....<br><br>
   ・現在バンドメンバーを募集中です！ドラムとベースを募集しています！ジャンルは....<br><br>
   ・最近トランペットを初めたのですがうまく吹けません。誰かコツを教えてください。<br><br>
   ・＊月＊日に、＊＊＊でライブをやります！！時間は....<br><br>
     etc....<br><br>
</p>

<h4>好きなように使ってください</h4>
